* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: white;
  color: black(61, 87, 204);
}

.header {
  padding: 2% 5% 1% 15%;
  background: #f5f9ff;
  font-family: 'Montserrat', sans-serif;
}

.links_header {
  display: flex;
  justify-content: space-between;
}

.header_user {
  display: flex;
}

.links_header_link {
  display: flex;
  font-family: 'Krona One', sans-serif;
  align-items: center;
  text-decoration: none;
}

.links_header_link:hover {
  background-color: whitesmoke;
  font-size: 150%;
  text-decoration: none;
}

.apresentacao {
  padding: 5% 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao_title {
  font-family: 'Krona One', sans-serif;
  font-size: 42px;
}

.title-user {
  font-family: 'Krona One', sans-serif;
  font-weight: bold;
}

.footer {
  position: fixed;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  padding: 24px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
}